.new-post h2 {
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
}

form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-control label {
    margin-bottom: .5rem;
}

.form-control input, .form-control textarea {
    padding: .5rem;
    border: none;
    border-radius: 5px;
}